# Virtual environment
venv/

# Python cache
__pycache__/

# Images (be careful with this)
*.png
*.jpeg
*.jpg

# Environment variables
.env
frontend/static/uploads/*
!frontend/static/uploads/.gitkeep
frontend/*.log